@import "includes/fancybox/jquery.fancybox.min";
@import "includes/select2/select2";
@import "includes/bs-grid/grid";
@import "includes/base";

@import "components/header";
@import "components/footer";
@import "components/crumbs";
@import "components/tariff";

@import "pages/home";
@import "pages/login";
@import "pages/registration";
@import "pages/cabinet";