@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Ext';
    src: url('AkzidenzGroteskPro-LightEx.eot');
    src: url('AkzidenzGroteskPro-LightEx.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskPro-LightEx.woff2') format('woff2'),
        url('AkzidenzGroteskPro-LightEx.woff') format('woff'),
        url('AkzidenzGroteskPro-LightEx.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

