.crumbs {
  @include font-l-regular;
  list-style: none;
  margin-bottom: 30px;
  padding: 0;

  @include r(1200) {
    margin-bottom: 20px;
  }

  li {
    display: inline-block;
    svg {
      margin-left: 15px;

      @include r(768) {
        margin-left: 7px;
      }
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 15px;

      @include r(768) {
        margin-right: 7px;
      }
    }
  }
}