button {
  box-shadow: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

.button {
  position: relative;
  text-align: center;
  display: inline-block;
  @include ease-in-out;
  padding: 15px 30px;
  border-radius: 50px;

  span {
    position: relative;
  }

  &--primary {
    color: $white !important;
    background: linear-gradient(180deg, #1816AE 0%, #050671 100%);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5), 0 10px 10px rgba(37, 36, 157, 0.5), inset 0 2px 4px rgba(255, 255, 255, 0.5);

    &::before {
      @include ovl;
      background: linear-gradient(180deg, #2B29D0 0%, #0C0E84 100%);
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px #25249D, inset 0 2px 4px rgba(255, 255, 255, 0.5);
      opacity: 0;
      border-radius: 50px;
      @include ease-in-out;
    }

    &:hover {
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5), 0 10px 10px rgba(37, 36, 157, 0), inset 0 2px 4px rgba(255, 255, 255, 0.5);
      &::before {
        opacity: 1;
      }
    }
  }

  &--secondary {
    color: $dark !important;
    background: linear-gradient(180deg, #FFFFFF 0%, #D5D5D5 100%);
    box-shadow: 0 2px 0 #9F9F9F, 0 10px 10px rgba(120, 120, 120, 0.2), inset 0 2px 4px rgba(255, 255, 255, 0.5);

    &::before {
      @include ovl;
      background: linear-gradient(180deg, #FFFFFF 0%, #D5D5D5 100%);
      box-shadow: 0 2px 0 #9F9F9F, 0 2px 5px rgba(120, 120, 120, 0.2), inset 0 2px 4px rgba(255, 255, 255, 0.5);
      opacity: 0;
      border-radius: 50px;
      @include ease-in-out;
    }

    &:hover {
      box-shadow: 0 2px 0 #9F9F9F, 0 10px 10px rgba(120, 120, 120, 0), inset 0 2px 4px rgba(255, 255, 255, 0.5);
      &::before {
        opacity: 1;
      }
    }
  }
}

.button-back {
  @include font-l-regular;
  display: inline-flex;
  align-items: center;
}