$dark: #282735;
$blue: #07078D;
$darkBlue: #000154;
$purple: #681EB2;
$grey: #838383;
$darkGrey: #656565;
$lightGrey: #A7A7A7;
$tr: transparent;
$black: #000;

.color-white {
  color: #fff;
}
.color-black {
  color: $black;
}

.color-red {
  color: $red;
}

.color-grey {
  color: $grey;
}

.color-blue {
  color: $blue;
}