@mixin font-l-thin {
  font-family: 'Lato', Roboto, sans-serif;
  font-weight: 100
}
@mixin font-l-light {
  font-family: 'Lato', Roboto, sans-serif;
  font-weight: 300
}
@mixin font-l-regular {
  font-family: 'Lato', Roboto, sans-serif;
  font-weight: 400
}
@mixin font-l-medium {
  font-family: 'Lato', Roboto, sans-serif;
  font-weight: 500
}
@mixin font-l-bold {
  font-family: 'Lato', Roboto, sans-serif;
  font-weight: 700
}
@mixin font-l-black {
  font-family: 'Lato', Roboto, sans-serif;
  font-weight: 900
}

@mixin font-a-bold {font-family: 'AkzidenzGroteskPro-BoldEx', Lato, Roboto, sans-serif;}
@mixin font-a-exbold {font-family: 'AkzidenzGroteskPro-XBd', Lato, Roboto, sans-serif;}
@mixin font-a-regular {font-family: 'AkzidenzGroteskPro-Ext', Lato, Roboto, sans-serif;}
@mixin font-a-medium {font-family: 'AkzidenzGroteskPro-MdEx', Lato, Roboto, sans-serif;}

.font-l-thin {@include font-l-thin}
.font-l-light {@include font-l-light}
.font-l-regular {@include font-l-regular}
.font-l-medium {@include font-l-medium}
.font-l-bold {@include font-l-bold}
.font-l-black {@include font-l-black}


.font-a-bold {@include font-a-bold}
.font-a-exbold {@include font-a-exbold}
.font-a-regular {@include font-a-regular}
.font-a-medium {@include font-a-medium}

$font-14: 0.7778rem;
$font-16: 0.8889rem;
$font-20: 1.1111rem;
$font-22: 1.2222rem;
$font-25: 1.3889rem;
$font-32: 1.7778rem;

@mixin font-14 {
  font-size: $font-14;
}

@mixin font-16 {
  font-size: $font-16;
}
@mixin font-20 {
  font-size: $font-20;
}
@mixin font-22 {
  font-size: $font-22;
}
@mixin font-25 {
  font-size: $font-25;

  @include r(768) {
    font-size: $font-20;
  }
}
@mixin font-32 {
  font-size: $font-32;

  @include r(768) {
    font-size: $font-25;
  }
}
.font-14 {@include font-14}
.font-16 {@include font-16}
.font-20 {@include font-20}
.font-22 {@include font-22}
.font-25 {@include font-25}
.font-32 {@include font-32}