.section {
  &--inner {
    padding: 100px 0;

    @include r(1200) {
      padding: 80px 0;
    }

    @include r(768) {
      padding: 50px 0;
    }
  }

  &--small {
    padding: 70px 0;

    @include r(768) {
      padding: 50px 0;
    }
  }

  &--extrasmall {
    padding: 50px 0;
  }

  &__title {
    position: relative;
    margin-bottom: 2.5rem;
    @include title-h2;

    @include r(1576) {
      margin-bottom: 2rem;
    }

    @include r(1200) {
      margin-bottom: 1.5rem;
    }
  }
}
