<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mb-3 mb-xl-0">
                <div class="d-flex flex-column align-items-center align-items-xl-start">
                    <a class="font-20" href="#"><span class="font-a-medium">Рестарт</span> Онлайн</a>
                    <div class="mt-3 font-l-regular">© 2022 <a class="link" href="#">ООО МКК “Русское кредитное общество”</a> все права защищены</div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="font-l-regular d-flex flex-column align-items-center align-items-xl-start">
                    <div>Поддержка: <a class="link" href="tel:8 (800) 123-45-67">8 (800) 123-45-67</a></div>
                    <div class="mt-3">e-mail: <a class="link" href="mailto:restartonline@info.ru">restartonline@info.ru</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>