<header class="header">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <a class="header-logo" href="#">
                <span class="header-logo__picture"><img src="{{root}}assets/img/logo.png" alt="Лого"></span>
                <span class="header-logo__title">
                    <span>Рестарт</span> Онлайн
                </span>
            </a>
            <a href="login.html" class="button button--primary"><span>Выйти</span></a>
        </div>
    </div>
</header>
