<div id="popup-confirm-phone" style="display: none">
    <div class="popup__wrapper">
        <div class="popup__container">
            <div class="tac">
                <div class="title-h2 mb-2 mb-md-3">Подтверждение телефона</div>
                <div class="popup__subtitle mb-3 mb-md-4 font-l-regular">Введите код, отправленный вам на телефон в виде СМС</div>
            </div>
            <form class="popup__fields d-flex flex-column align-items-center">
                <label class="form-field form-field--socials mb-3 mb-md-4">
                    <input class="form-field__input js-mask-six-symbols " type="text" placeholder="______">
                </label>
                <div class="tac font-l-regular">
                    <button class="link link--primary">Отправить еще раз</button> через 01:57
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popup-history" class="popup-history" style="display: none">
    <div class="popup__wrapper">
        <div class="popup__container">
            <div class="tac">
                <div class="title-h2 mb-3 mb-md-4">История платежей</div>
            </div>
            <div class="payments-history-list font-l-regular font-16">
                <div class="payment">
                    <div class="payment-info">
                        <div>Платеж на <span class="font-l-bold">1000 рублей</span></div>
                        <div>Займ <span class="font-l-bold">64721-21097</span></div>
                        <div>Дата платежа: <span class="font-l-bold">12.05.2022</span>  |  <span class="font-l-bold">21:27</span></div>
                    </div>
                    <div class="payment-status">
                        <span class="mr-2 mr-md-3">Успешно</span>
                        <svg width="30" height="30">
                            <use xlink:href="#success"></use>
                        </svg>
                    </div>
                </div>
                <div class="payment">
                    <div class="payment-info">
                        <div>Платеж на <span class="font-l-bold">1000 рублей</span></div>
                        <div>Займ <span class="font-l-bold">64721-21097</span></div>
                        <div>Дата платежа: <span class="font-l-bold">12.05.2022</span>  |  <span class="font-l-bold">21:27</span></div>
                    </div>
                    <div class="payment-status">
                        <span class="mr-2 mr-md-3">Просрочен</span>
                        <svg width="30" height="30">
                            <use xlink:href="#error"></use>
                        </svg>
                    </div>
                </div>
                <div class="payment">
                    <div class="payment-info">
                        <div>Платеж на <span class="font-l-bold">1000 рублей</span></div>
                        <div>Займ <span class="font-l-bold">64721-21097</span></div>
                        <div>Дата платежа: <span class="font-l-bold">12.05.2022</span>  |  <span class="font-l-bold">21:27</span></div>
                    </div>
                    <div class="payment-status">
                        <span class="mr-2 mr-md-3">Ожидается</span>
                        <svg width="30" height="30">
                            <use xlink:href="#process"></use>
                        </svg>
                    </div>
                </div>
                <div class="payment">
                    <div class="payment-info">
                        <div>Платеж на <span class="font-l-bold">1000 рублей</span></div>
                        <div>Займ <span class="font-l-bold">64721-21097</span></div>
                        <div>Дата платежа: <span class="font-l-bold">12.05.2022</span>  |  <span class="font-l-bold">21:27</span></div>
                    </div>
                    <div class="payment-status">
                        <span class="mr-2 mr-md-3">Успешно</span>
                        <svg width="30" height="30">
                            <use xlink:href="#success"></use>
                        </svg>
                    </div>
                </div>
                <div class="payment">
                    <div class="payment-info">
                        <div>Платеж на <span class="font-l-bold">1000 рублей</span></div>
                        <div>Займ <span class="font-l-bold">64721-21097</span></div>
                        <div>Дата платежа: <span class="font-l-bold">12.05.2022</span>  |  <span class="font-l-bold">21:27</span></div>
                    </div>
                    <div class="payment-status">
                        <span class="mr-2 mr-md-3">Просрочен</span>
                        <svg width="30" height="30">
                            <use xlink:href="#error"></use>
                        </svg>
                    </div>
                </div>
                <div class="payment">
                    <div class="payment-info">
                        <div>Платеж на <span class="font-l-bold">1000 рублей</span></div>
                        <div>Займ <span class="font-l-bold">64721-21097</span></div>
                        <div>Дата платежа: <span class="font-l-bold">12.05.2022</span>  |  <span class="font-l-bold">21:27</span></div>
                    </div>
                    <div class="payment-status">
                        <span class="mr-2 mr-md-3">Ожидается</span>
                        <svg width="30" height="30">
                            <use xlink:href="#process"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup-signing" style="display: none">
    <div class="popup__wrapper">
        <form class="popup__container signing">
            <div class="font-l-regular">
                <p>Я не являюсь должностным лицом, супругом или родственником должностного лица, указанным в ст. 7.3 Федерального закона
                    №115-ФЗ от 07.08.2001г.</p>
                <p>Я не буду действовать к выгоде другого лица при проведении сделок и иных операций</p>
                <p>У меня отсутствует бенефициарный владелец - стороннее физическое лицо, а также представитель отсутствует</p>
                <p>Настоящим я подтверждаю свое ознакомление и согласие с ниже представленными документами, а также подтверждаю их подписание с использованием аналога собственноручной подписи:</p>
                <div class="d-flex flex-column align-items-start">
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Соглашение об использовании аналога собственноручной подписи при дистанционном взаимодействии МКК ООО «Рестарт онлайн»</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Правила предоставления займов МКК ООО «Рестарт онлайн»</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Политика конфиденциальности</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Информация об условиях предоставления, использования и возврата потребительского микрозайма МКК ООО «Рестарт онлайн»</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Заявление о предоставлении микрозайма</span>
                        </span>
                </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Согласие клиента на получение информации из бюро кредитных историй</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Прочие сведения и заверения о клиенте</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Согласие на взаимодействие с третьими лицами, направленное на возврат просроченной задолженности</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Правила № 195 комбинированного страхования от несчастных случаев и болезней</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Оферта на перевод С2А с комиссией</span>
                        </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Согласие на обработку персональных данных</span>
                    </span>
                    </label>
                    <label class="checkbox mb-2">
                        <input type="checkbox" checked required>
                        <span class="checkbox__text">
                            <span class="checkbox__gal">
                                <svg width="14" height="11">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                            <span class="checkbox__in">Положение о порядке сбора, обработки, хранения персональных данных и иной информации</span>
                        </span>
                    </label>
                </div>


                <br>

                <p>Согласен на подключение услуги реккурентных платежей, предоставляющейся в соответствии с "Соглашением"</p>
                <p>Соглашение о регулярных (рекуррентных) платежах МКК ООО «Рестарт онлайн»</p>
                <div class="tar">г. Самара, 2020 г.</div>
                <br>
                <p>Микрокредитная компания Общество с ограниченной ответственностью «Рестарт онлайн», ОГРН 1146317004030, именуемое в дальнейшем Займодавец, в лице директора Смелова С.Б., предлагает Клиентам при заключении договора займа через Сайт https://boostra.ru воспользоваться сервисом оплаты своих обязательств банковской картой по договору займа путем безакцептного (автоматического) списания денежных средств с банковской карты Клиента, указанной последним при регистрации и подаче заявки на заём (далее — Сервис «Рекуррентные платежи») и заключить настоящее Cоглашение о регулярных (рекуррентных) платежах (далее — Соглашение) на следующих нижеуказанных условиях:</p>
                <br>
                <p>1. Термины и определения</p>
                <p>Клиент — физическое лицо, заключающее договор займа в электронной форме;</p>
                <p>Займодавец — Микрокредитная компания Общество с ограниченной ответственностью «Бустра»;</p>
                <p>Сайт Займодавца — https://рукред.рф</p>
                <p>Договор займа — договор займа, заключаемый между Клиентом и Займодавцом в электронной форме;</p>
                <p>Банк  —  кредитная  организация,  осуществляющая  эмиссию  Банковских  карт  на  территории Российской Федерации в соответствии с законодательством Российской Федерации и на основании договоров с Клиентами Банка;</p>
                <p>Банковская карта  —  расчётная или  кредитная  карта,  эмитентом  которой  является кредитная организация, являющаяся инструментом безналичных расчётов, предназначенная для совершения Клиентами Банка операций с денежными средствами, находящимися у Банка на Банковских счетах Клиентов Банка или с денежными средствами, предоставленными Банком в кредит Клиентам Банка в соответствии с законодательством Российской Федерации, а также договором банковского счёта, или в пределах установленного лимита, в соответствии с условиями кредитного договора между Банком и Клиентом Банка;</p>
                <p>Заявка на заём (далее — Заявка) — заявка Клиента на заключение договора займа, оформленная Клиентом на Сайте Займодавца путем использования формы Займодавца с указанием требуемых данной формой сведений и подписанное простой электронной подписью Клиента;</p>
                <p>Клиент Банка — физическое лицо, заключившее с Банком договор банковского счёта, и являющееся держателем Банковской карты международных платёжных систем VISA International, MasterCard, АО «Национальная система платежных карт» (НСПК) – МИР»;</p>
                <p>Электронная подпись — информация в электронной форме, которая присоединена к другой информации в электронной форме (подписываемой информации) или иным образом связана с такой информацией и которая используется для определения лица, подписывающего информацию; Код электронной подписи — одноразовая случайно сгенерированная парольная комбинация, отправляемая по SMS на указанный Клиентом номер мобильного телефона, ограниченная по времени использования и предназначенная для подтверждения подлинности Клиентом при осуществлении электронной подписи;</p>
                <p>PAN — 16-ти значный номер банковской карты;</p>
                <p>Expiry — срок действия банковской карты;</p>
                <p>CVV2 (CVC2) — код проверки подлинности банковской карты.</p>
                <br>
                <p>2. Описание сервиса «Рекуррентные платежи» и способ его активации.</p>
                <p>2.1. Сервис «Рекуррентные платежи» позволяет Клиенту производить уплату услуг обязательств (сумма основного долга и начисленные проценты) по Договору потребительского займа путём автоматического списания денежных средств с банковской карты Клиента в сумме, и по графику, указанным в Индивидуальных условиях Договора потребительского займа.</p>
                <p>2.2. Все расчеты по Банковской карте, предусмотренные настоящим Соглашением, производятся в рублях Российской Федерации.</p>
                <p>2.3. Плата за использование Сервиса «Рекуррентные платежи» (в том числе действия по его активации/отключению) не взимается.</p>
                <p>2.4. Активация (подключение) Сервиса «Рекуррентные платежи».</p>
                <p>2.4.1. При прохождении регистрации на Сайте Займодавца Клиент осуществляет привязку своей банковской карты, для возможности использования Сервиса «Рекуррентные платежи».</p>
                <p>2.4.2. После выбора суммы и срока займа, Клиент заполняет данные, необходимые для формирования Заявки на заём в целях заключения Договора потребительского займа.</p>
                <p>2.4.3. После заполнения необходимых данных и привязки банковской карты, на номер телефона, указанный Клиентом при заполнении Заявки на заём, приходит Код электронной подписи, который Клиент вводит в соответствующее окно ввода Кода электронной подписи.</p>
                <p>2.4.4. Подписывая Заявку на заём электронной подписью Клиент подтверждает достоверность предоставленных данных, свое согласие с условиями займа; согласие присоединиться к соглашению об использовании аналога собственноручной подписи и/или соглашению-оферты.</p>
                <p>2.4.5. После подачи Заявки на заём Займодавец рассматривает заявку и в случае принятия положительного решения Клиенту отправляется соответствующее SMS-сообщение и оферта на предоставление займа. В случае согласия с общими условиями займа, индивидуальными условиями займа, с соглашением о регулярных (рекуррентных) платежах, соглашением-офертой об оказании услуг Клиент подписывает оферту используя аналог собственноручной подписи (электронную подпись) - SMS Код.</p>
                <p>2.4.6. После совершения действий, указанных в п. 2.4.5. настоящего Соглашения, Сервис «Рекуррентные платежи» считается активированным (подключенным).</p>
                <p>2.5. Порядок пользования Сервисом «Рекуррентные платежи».</p>
                <p>2.5.1. Начиная со дня погашения займа по Договору потребительского займа, с Банковской карты Клиента, которая им была привязана в процессе оформления заявки на заём по Договору потребительского займа в автоматическом порядке могут быть списаны денежные средства в размере суммы общей задолженности, суммы основного долга или суммы процентов, начисленных на дату списания в соответствии с Договором потребительского займа.</p>
                <p>2.5.2. Непосредственное списание денежных средств осуществляет Банк-эмитент. Запрос на списание денежных средств в Банк-эмитент передаёт АО «Тинькофф Банк» ИНН 7710140679 (далее - «Оператор») в рамках заключённого с Займодавцем договора.</p>
                <p>2.5.3. Все расчёты с использованием Банковской карты, предусмотренные настоящим Соглашением, производятся в рублях Российской Федерации.</p>
                <p>2.5.4. Займодавец не хранит и не обрабатывает данные Банковских карт Клиентов, обеспечивая лишь направление запросов к Оператору для повторного проведения операции по Банковской карте Клиента.</p>
                <p>2.5.5. Займодавец ни при каких условиях не гарантирует возможность проведения операций по Банковской карте Клиента, оставляя разрешение данных вопросов за Оператором и Банкомэмитентом.</p>
                <p>2.5.6. Клиент гарантирует, что он является держателем Банковской карты, которую он привязал в процессе регистрации, осознанно, корректно и полностью вводил все требуемые реквизиты Банковской карты при активации (подключении) Сервиса «Рекуррентные платежи».</p>
                <p>2.5.7. При недостаточности на Банковской карте Клиента денежных средств для уплаты суммы общей задолженности, суммы основного долга или суммы начисленных процентов по Договору потребительского займа на дату списания денежных средств, Сервис «Рекуррентные платежи» автоматически посылает запрос на списание суммы общей задолженности, суммы основного долга или суммы начисленных процентов каждый последующий день до полного исполнения клиентом своих обязательств по договору займа.</p>
                <p>3. Права и обязанности Сторон.</p>
                <p>3.1. Займодавец обязуется предоставить Клиенту возможность активации (подключения) Сервиса «Рекуррентные платежи» для совершения Клиентом платежей по Договору потребительского займа и/или оплаты услуг.</p>
                <p>3.2. Займодавец имеет право вносить изменения в настоящее Соглашение, заранее уведомив об этом Клиента в письменной форме, либо иным доступным способом, в том числе путём сообщения на электронную почту или телефон, указанные в Договоре потребительского займа.</p>
                <p>3.3. Займодавец не несёт ответственности за временную неработоспособность Сервиса «Рекуррентные платежи». В этом случае Клиент использует иные, согласованные с Займодавцем способы внесения средств для оплаты по Договору потребительского займа.</p>
                <p>3.4. В случае утраты/замены Клиентом Банковской карты, он обязан незамедлительно устно и в течение 3 (Трех) дней со дня утраты письменно известить об этом Займодавца с целью исключения реквизитов утраченной платёжной банковской карты и/или указания реквизитов новой карты. Полученное Займодавцем заявления Клиента об утрате платёжной банковской карты является основанием для приостановления операций по утраченной банковской карте.</p>
                <p>3.5. Клиент имеет право в любое время включить или отключить Сервис «Рекуррентные платежи» в «Личном кабинете» на сайте Займодавца путем установки или снятия соответствующей галочки, в случае отсутствия технической возможности осуществить вышеперечисленные действия Клиент имеет возможность направить Обществу, а также лицу, действующему от его имени и (или) в его интересах, соответствующее уведомление через нотариуса или по почте заказным письмом с уведомлением о вручении или путем вручения под расписку Обществу, а также лицу, действующему от его имени и (или) в его интересах.</p>
                <p>4. Срок действия соглашения, порядок изменения и расторжения соглашения.</p>
                <p>4.1. Ответственность Займодавца перед Клиентом по настоящему Соглашению ограничивается суммой денежных средств, зачисленных с использованием Сервиса «Рекуррентные платежи» на счёт Займодавца для оплаты по Договору потребительского займа и/или услуги.</p>
                <p>4.2. Споры сторон, возникшие в связи с выполнением условий настоящего Соглашения, разрешаются в ходе взаимных консультаций и переговоров.</p>
                <p>5. Прочие условия.</p>
                <p>5.1. Права и обязанности, вытекающие из настоящего Соглашения, не могут быть переданы третьим лицам без письменного согласия сторон.</p>
                <p>5.2. Совершая действия по активации (подключению) Сервиса «Рекуррентные платежи», Клиент признает действия по автоматическому списанию денежных средств с его Банковской карты в пользу оплаты суммы основного долга и суммы начисленных процентов по Договору займа, на основании заранее данного согласия (акцепта), в соответствии с п.3 ст.438 ГК РФ, путем подписания данного соглашения.</p>

                <div>Рестарт онлайн</div>
                <div>Партнеры</div>
                <div>Информация</div>
                <div>Документы</div>
                <div>Контакты</div>
                <div>Условия</div>
                <div>+ 7 (800) 123-45-67 Клиентский сервис</div>
                <div>Электронная почта для обращений граждан/клиентов</div>
                <div class="mb-3">info@restartonline.ru</div>

                <div>Партнеры	Условия	Контакты</div>
                <div>Электронная почта</div>
                <div>info@restartonline.ru</div>
                <div>для обращений граждан/клиентов</div>
                <div>Возникли вопросы?</div>
                <div>Звони: + 7 (800) 123-45-67</div>
                <div>Клиентский сервис</div>
                <div>Подтвердите телефон</div>
                <div class="mb-3">кодом из СМС, который отправлен на номер + 7 (800) 123-45-67</div>

                <div>Телефон подтвержден Я ознакомлен и согласен со следующим</div>
                <div>Информация Документы COVID-19 поддержка клиентов Контакты СотрудничествоМКК ООО «Бустра» не привлекает денежные средства физических лиц, в том числе индивидуальных предпринимателей, не являющихся учредителями организации</div>
                <div>МКК ООО «Рестарт онлайн», номер в реестре МФО 1703336008323</div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a href="cabinet-1-2.html" class="button button--primary"><span>Подписать кодом из СМС</span></a>
            </div>

        </form>
    </div>
</div>