<div id="popup-confirm-phone" style="display: none">
    <div class="popup__wrapper">
        <div class="popup__container">
            <div class="tac">
                <div class="title-h2 mb-2 mb-md-3">Подтверждение телефона</div>
                <div class="popup__subtitle mb-3 mb-md-4 font-l-regular">Введите код, отправленный вам на телефон в виде СМС</div>
            </div>
            <form class="popup__fields d-flex flex-column align-items-center">
                <label class="form-field form-field--socials mb-3 mb-md-4">
                    <input class="form-field__input js-mask-six-symbols " type="text" placeholder="______">
                </label>
                <div class="tac font-l-regular">
                    <button class="link link--primary">Отправить еще раз</button> через 01:57
                </div>
            </form>
        </div>
    </div>
</div>