<section class="tariff-section">
    <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="tariff tariff--active" data-tariff="1">
                <div class="tariff__bg" style="background-color: #00649C;"></div>
                <div class="tariff__top">
                    <div class="font-25 mb-2 mb-xl-3">01 <span class="font-a-medium">Рестарт Аванс</span></div>
                    <div>от <span class="font-a-medium">5 000</span> ₽  до <span class="font-a-medium">15 000</span> ₽</div>
                </div>
                <div class="tariff__info">
                    <div class="font-a-medium mb-2 mb-xl-3">0,3%</div>
                    <div class="font-l-regular tariff__description">За каждый день пользования микрозаймом</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="tariff" data-tariff="2">
                <div class="tariff__bg" style="background-color: #681EB2;"></div>
                <div class="tariff__top">
                    <div class="font-25 mb-2 mb-xl-3">02 <span class="font-a-medium">Рестарт 5 / 11</span></div>
                    <div>от <span class="font-a-medium">15 000</span> ₽  до <span class="font-a-medium">100 000</span> ₽</div>
                </div>
                <div class="tariff__info">
                    <div class="font-a-medium mb-2 mb-xl-3">0,25%</div>
                    <div class="font-l-regular tariff__description">За каждый день пользования микрозаймом с учётом графика погашения основного долга по микрозайму</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="tariff" data-tariff="3">
                <div class="tariff__bg" style="background-color: #00015D;"></div>
                <div class="tariff__top">
                    <div class="font-25 mb-2 mb-xl-3">02 <span class="font-a-medium">Рестарт Финанс</span></div>
                    <div>от <span class="font-a-medium">100 000</span> ₽</div>
                </div>
                <div class="tariff__info">
                    <div class="font-a-medium mb-2 mb-xl-3">0,25%</div>
                    <div class="font-l-regular tariff__description">За каждый день пользования микрозаймом с учётом графика погашения основного долга по микрозайму</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tariff-info d-flex flex-column flex-xl-row justify-content-between align-items-start align-items-xl-center font-l-regular">
        <div class="d-flex flex-column flex-md-row align-items-start align-items-xl-center mb-2 mb-md-0">
            <label class="form-field mr-md-4 d-flex flex-row align-items-center">
                <span class="mr-3 mr-md-3">Вы&nbsp;берете:</span>
                <input class="form-field__input" type="number" placeholder="6000">
            </label>
            <div class="js-tariff-1">
                <label class="form-field d-flex flex-row align-items-center">
                    <span class="mr-2">Возврат&nbsp;до:</span>
                    <input class="form-field__input" type="number" placeholder="25 сентября">
                </label>
            </div>
            <div class="js-tariff-2">
                <label class="form-field d-flex flex-row align-items-center">
                    <span class="mr-3 mr-md-2">Заем на:</span>
                    <select class="js-common-select">
                        <option>на 5 месяцев</option>
                        <option>на 11 месяцев</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
            <div class="d-flex align-items-center mr-md-3 mb-3 mb-md-0">
                <span class="mr-2">Ежемесячный платеж:</span>
                <span class="font-l-bold">6 018</span>
                <span class="tariff-price-info ml-2 mb-1">
                    <svg width="17" height="17">
                        <use xlink:href="#question-green"></use>
                    </svg>
                    <span class="tariff-price-info__layout">
                        <span class="tariff-price-info__content">
                            Тут будет пояснительный текств две строки или более строк
                        </span>
                    </span>
                </span>
            </div>
            <div class="d-flex align-items-center">
                <div class="tariff-label tariff-label--success">0,3%</div>
                <button class="tariff-edit">
                    <svg width="32" height="33">
                        <use xlink:href="#edit"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>