@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'AkzidenzGroteskPro-BoldEx';
  src: url('../fonts/AkzidenzGroteskPro-BoldEx.eot');
  src: url('../fonts/AkzidenzGroteskPro-BoldEx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AkzidenzGroteskPro-BoldEx.woff2') format('woff2'),
  url('../fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff'),
  url('../fonts/AkzidenzGroteskPro-BoldEx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AkzidenzGroteskPro-XBd';
  src: url('../fonts/AkzidenzGroteskPro-XBd.eot');
  src: url('../fonts/AkzidenzGroteskPro-XBd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AkzidenzGroteskPro-XBd.woff2') format('woff2'),
  url('../fonts/AkzidenzGroteskPro-XBd.woff') format('woff'),
  url('../fonts/AkzidenzGroteskPro-XBd.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AkzidenzGroteskPro-Ext';
  src: url('../fonts/AkzidenzGroteskPro-Ext.eot');
  src: url('../fonts/AkzidenzGroteskPro-Ext.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AkzidenzGroteskPro-Ext.woff2') format('woff2'),
  url('../fonts/AkzidenzGroteskPro-Ext.woff') format('woff'),
  url('../fonts/AkzidenzGroteskPro-Ext.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AkzidenzGroteskPro-MdEx';
  src: url('../fonts/AkzidenzGroteskPro-MdEx.eot');
  src: url('../fonts/AkzidenzGroteskPro-MdEx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
  url('../fonts/AkzidenzGroteskPro-MdEx.woff') format('woff'),
  url('../fonts/AkzidenzGroteskPro-MdEx.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

