@mixin ct {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin cv {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin ovl {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ease {
  transition: .4s all ease;
}

@mixin ease-in-out {
  transition: .6s all ease-in-out;
}

@mixin r($width) {
  @media only screen and (max-width: $width + "px") {
    @content
  }
}
@mixin rmin($width) {
  @media only screen and (min-width: $width + "px") {
    @content
  }
}
@mixin scroll {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey;
  }

  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    background: $red;
  }
}